body{
    background-color:#333333;
    /*background: url('./bin/gb.png') no-repeat top center #333;*/
    color: #ddd;
}
#wrapper{
    margin: auto;
    border: solid thin #333;
    width: 404px;
    height: 532px;
    background: url('./bin/gb.png') no-repeat top center #333;
}
#pageLogo{
    margin: auto;
    background: url('./bin/pageLogo.png') no-repeat;
    width: 168px;
    height: 73px;
    text-indent: -9999px;
}
#gameContainer{
    margin: 68px auto;
    width: 160px;
    height: 144px;
    border: solid 2px #193441;
    border-bottom-color: #91aa9d;
    border-left-color: #91aa9d;
}
#gameInfo{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
pre{
    text-align: left;
    border: dotted thin #666;
    padding-top: 10px;
    background: #444;
}