body{
    background: url('./bin/gb.png') no-repeat top center #333;
    color: #ddd;
}
#gameContainer{
    margin:116px auto;
    width: 160px;
    height: 144px;
    border: solid 2px #193441;
    border-bottom-color: #91aa9d;
    border-left-color: #91aa9d;
}
#gameInfo{
    text-align: center;
    width: 400px;
    margin:300px auto;
}
pre{
    text-align: left;
    border: dotted thin #666;
    padding-top: 10px;
    background: #444;
}